language: python
python:
    - "2.7"
    - "3.3"
    - "3.4"
install:
    - pip install -r requirements.txt ; python setup.py install
script:
    - source dev/travis.config ; export PYTHONPATH="$PYTHONPATH:$PWD" ; sh tests/standalone-tests.sh
    - source dev/travis.config ; export PYTHONPATH="$PYTHONPATH:$PWD" ; python setup.py test


