include CONTRIBUTORS.txt
include clean.sh
include doc/Makefile
include ez_setup.py
include License.txt
include README.md
include requirements.txt
include setup.cfg
include setup.py
include THANKS.txt
recursive-include doc/source *
recursive-include extras *
recursive-include scripts *
recursive-include peyotl/test/data *
global-exclude .DS_Store
global-exclude *.pyc
global-exclude .gitignore
