avalanche
peyotl-ievobio.html
presentation.html
phylesystem_ievo.html
phylesystem_ievo.md
phylesystem-slides.cfg
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
phylesystem_writeup.pdf
peyotl_writeup.pdf
*.bak
*.bbl
*.blg
workflow-eps-converted-to.pdf
phylesystem_preprint.pdf
phylesystem_submission.pdf
