table {
    border-collapse: collapse;
    border: 1px solid black;
}

table td {
    border: 1px solid black;
}
table th {
    border: 2px solid black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    width: 10em;
    background-color: #eeeeee;
}