table {
    border-collapse: collapse;
    border: 1px solid black;
}

table td {
    border: 1px solid black;
}
table th {
    border: 2px solid black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li:nth-child(3n) {
    float: left;
    background-color: #ddddff;
}
nav li:nth-child(3n+1) {
    float: left;
    background-color: #d0ffd0;
}
nav li:nth-child(3n+2) {
    float: left;
    background-color: #eeeebb;
}

nav a {
    display: block;
    width: 9em;
    text-align: center;
}